/* Breakpoints */
$mobile-min-width: 321px;       // to-mobile
$mobile-max-width: 420px;       // from-mobile
$tablet-min-width: 568px;       // to-tablet
$tablet-max-width: 768px;       // from-tablet
$desktop-min-width: 1024px;     // to-desktop
$desktop-max-width: 1264px;     // from-desktop

/* Sizes */
$html-min-width: 321px;
$html-max-width: 1920px;
$html-mobile-edge-offset: 20px;

/* Containers */
$container: 1264px;
