.page {
    height: 100%;
    // max-width: 1920px;
    // margin: 0 auto;
}
.page__body {
    font-family: var(--font-family-1);
    font-size: var(--font-size-medium);
    line-height: var(--text-line-height);
    font-weight: var(--font-weight-normal);
    font-style: normal;
    color: var(--font-1);
    background-color: var(--bg-1);
}
.page__main {
    position: relative;
    padding-top: 71px;
    overflow: hidden;
    @include from-tablet {
        padding-top: 111px;
    }
    @include to-desktop {
        padding-top: 132px;
    }
}
